
html, body {height: 100%;}
body {font-family: 'Roboto', sans-serif; margin: 0; line-height:1.5; font-size:0.8em; color:#666666; background: #f6b1c3;}

*, *:before, *:after {
    box-sizing: border-box;
}


/* global components */
#wrapper {min-height: 100%; margin-bottom: 95px; overflow: hidden;}
.forleft {float: left;}
.forright {float: right;}
.clear { clear:both; content:""; }
.container {max-width: 1170px; margin: 0 auto; width: 100%;}

/* section - content */
.contentmain-box {float: left; margin: 0 20px 20px 0; width: 568px;}
.contentmain-box.none {margin-right: 0;}
.contentmain-box span {padding: 0; display: inline-block; overflow: hidden; position: relative; width: 568px; height: 330px;}
.contentmain-box span a {height: 200%; width: 200%; left: -50%; top: -50%; position: absolute;}
.contentmain-box span a img {bottom: 0; left: 0; margin: auto; min-height: 50%; min-width: 50%; right: 0; top: 0; width: 50%; position: absolute;}

/* section - footer */
#footer-content {background: #000; color: #fff;}
#footer-content .footer-box {float: left; margin: 0 10px 10px 0; width: 284px;}
#footer-content .footer-box:last-child {margin-right: 0;}
